/* Navbar */

body {
    font-family: poppins;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    align-items: center
}

.navbar__brandName {
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: 6vw;
    display: flex;
    align-items: center
}

.navbar__links ul {
    display: flex;
}

.navbar__links li {
    list-style: none;
}

.navbar__links li a {
    color: inherit;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 4.3vw;

}

.navbar__brandName img {
    height: 40px;
    width: 40px;
    border-radius: 800px;
}

.brandName__name {
    padding: 7px;
}

.navbar__home {
    color: #1E2221;
}

.navbar__demos {

    color: #565959;

}

.navbar__install {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    color: #09BC8F;
}

/* Heading */

.heading {
    text-align: center;
    margin: 0 8.9vw;
}

.title {
    font-size: 4rem;
    margin: 7.9vw 16px 0;
    font-weight: 800;
    line-height: 4rem;
    color: #1E2221;
}


.subtitle {
    font-size: 1.5rem;
    line-height: 2.625 rem;
    color: #565959;
    margin: 1.9vw 9vw;

}

.cta button {
    border-radius: 111.6px;
    font-size: 1.5rem;
    padding: 10px 25px;
    margin: 25px 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.cta button:active {
    transform: scale(0.95);
}


.cta__install {
    background-color: #09BC8F;
    color: #ffffff;
    border: solid #09BC8F;
    size: 1rem;
}

.cta__install:hover {
    box-shadow: 0 1px 1px lightgrey;

}

.cta__demos {
    background-color: #ffffff;
    border: solid #09BC8F;
    color: #1E2221;
}



.userImage {
    display: flex;
    justify-content: center;
}

.headingImage {

    height: 40px;
    width: 40px;
    border: solid 4.5px #63A0E8A6;
    border-radius: 100%;

}

.headingImageDiv {
    height: 36px;
    width: 36px;
    border-radius: 100%;
    margin-bottom: 9px;
}

.text__professionals {
    color: #565959;
    font-size: 1.25rem;
    margin-top: 9px;
    margin-bottom: 5vw;

}

.blob1 {
    position: absolute;
    top: 15vw;
    left: 0;
    z-index: -1;
}

.blob2 {
    position: absolute;
    right: 0;
    top: 425px;
    z-index: -1;
}


/* DemoArea */

iframe {
    height: 37.1vw;
    width: 72vw;
    border-radius: 3vw;
    display: block;
    margin: auto;
}

.demoArea {
    background: #1E2221;
    padding-top: 9vw;
    color: #ffffff;
    text-align: center;
}

.demoArea button {
    height: 58px;
    width: 229px;
    border-radius: 9px;
    padding: 8px 18px 8px 18px;
    border: none;
    margin: 7.5vw 2.9vw;
    cursor: pointer;
    font-size: 1.5rem;
    color: #1E2221;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3s ease-in-out;
}

.demoArea button:active {
    transform: scale(0.95);
}



/* SheldonUsage */

.sheldonUsage {
    margin-bottom: 9.82vw;
    color: #fff;
    font-family: Poppins;


}

.sheldonUsage__heading {
    font-size: 4.5vw;
    font-weight: 600;
    text-align: center;
    margin: 7.17vw auto;
    color: #1E2221;
}


.sheldonUsage__firstRow {
    display: flex;
    margin-top: 81px 5vw;
    justify-content: center;
}

.knowledgeBox {
    height: 30.9vw;
    width: 30.9vw;
    border-radius: 3.14vw;
    background-color: #1E2221;
    margin-right: 4vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.before-click-vec1 {
    font-size: 4vw;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: center;
}

.after-click-vec1 {
    font-family: Poppins;
    font-size: 1.3vw;
    font-weight: 300;
    text-align: center;
    margin: 5vw;
}

.sheldonUsageImage {
    width: 54.9vw;
    height: 30.9vw;
    border-radius: 3.14vw;

}

.gif {
    width: 40.86vw;
    height: 23vw;
    border-radius: 10px;
}

.before-click-vec2,
.before-click-vec3,
.before-click-vec4,
.before-click-vec5 {
    display: flex;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.after-click-vec2,
.after-click-vec3,
.after-click-vec4,
.after-click-vec5 {
    display: flex;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.content {
    width: 40%;
    text-align: center;


}

.content-heading {
    font-size: 4vw;
    font-weight: 600;
}

.content-subheading {
    color: #d2d2d2;
    font-size: 2.5vw;
}

.content-body {
    font-size: 1.5vw;
}

.content-vector {
    width: 7vw;
}

.gif-div {
    
    text-align: center;
    border-radius: 20px;
}




.sheldonUsage__secondRow {
    background: #09BC8F;
    height: 40.4vw;
    width: 89.8vw;
    margin: 4.39vw auto;
    border-radius: 3.14vw;
    position: relative;
}


.sheldonUsage__thirdRow {

    background: #1E2221;
    height: 40.4vw;
    width: 89.8vw;
    margin: 4.19vw auto;
    border-radius: 3.14vw;
    position: relative;

}

.sheldonUsage__forthRow {
    height: 40.4vw;
    width: 89.78vw;
    border-radius: 3.14vw;
    margin: 4.19vw auto;
    background: #09BC8F;
    position: relative;
}

.sheldonUsage__fifthRow {
    height: 40.4vw;
    width: 89.78vw;
    border-radius: 3.14vw;
    margin: 4.19vw auto;
    background: #1E2221;
    position: relative;
}

.usage-plus {
    position: absolute;
    bottom: 2.7vw;
    right: 2.7vw;
    height: 3vw;
    width: 3vw;
    cursor: pointer;

}

.hide-usage {
    display: none
}




/* .show-usage{
    
} */



/* UsersSay */
.users {
    margin-bottom: 11.15vw;
}

.users__title {
    font-size: 4.5vw;
    color: #1E2221;
    text-align: center;
    margin-bottom: 7.8vw;
    font-weight: 600;
}

.users__review {
    display: flex;
    justify-content: center;

}

.users__review1,
.users__review2,
.users__review3 {
    border-radius: 3.14vw;
    height: 25vw;
    width: 25vw;
    border: solid #8a8c8c;
    margin: 0 1vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}


.rating {
    font-size: 2vw;
}

.user-review {
    font-size: 1.5vw;
    margin: 1vw 0;
}

.user {
    display: flex;
    align-items: center;
}

.user-img {
    border-radius: 100%;
    height: 6vw;
    width:6vw ;
}

.user-profile {
    margin: 1vw;
}

.user-name {
    font-size: 2vw;
    font-weight: 600;
}

.user-desc {
    font-size: 1.5vw;
}


/* Favourite Websites */

.favWebsites__title {
    font-size: 4.5vw;
    text-align: center;
    font-weight: 600;
    color: #1E2221;
}

.favwebsites__img {
    text-align: center;
}

.favwebsites__img img {
    width: 33.33vw;
}


/* TroubleShooting */

.troubleshooting {
    height: 9.74vw;
    background-color: #1E2221;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.7vw;

}


/* FAQs */

.faq {
    margin: 0 7.8vw 2.49vw;
}

.faq__title {
    font-size: 4vw;
    font-weight: 600;
    color: #09BC8F;
    margin-top: 3.58vw;
}

.faq__subtitle {
    font-size: 2vw;
    color: #09BC8F;
    font-style: italic;
    position: relative;
    bottom: 2vw;
    margin-bottom: 2vw;

}


.faq__body div img {
    width: 2.6vw;
}

.faq__body1,
.faq__body2,
.faq__body3,
.faq__body4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vw auto;
    font-size: 2vw;
}


.hide-ans {
    display: none;
    opacity: 0
}

.faqAns1,
.faqAns2,
.faqAns3,
.faqAns4 {
    color: #1E2221;
    margin-right: 5vw;
    font-size: 1.3vw;
    transition: opacity linear 1s;
    opacity: 1;

}

hr {
    border: #09BC8F solid 0.5px;
}

.rotate {
    transform: rotate(45deg);
    transition: 200ms ease-in-out;
}



/* Footer */

.footer {
    margin-top: 8vw;
    background-color: #1E2221;
    height: 9.36vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    font-size: 1.3vw;
}

.nolink {
    text-decoration: none;
    color: inherit;
}


@media (max-width:480px) {

    .navbar__brandName {
        margin-left: 5vw;
    }

    .heading {
        margin: 2rem 2rem 0;
    }

    .subtitle {
        font-size: 1rem;
    }

    .title {
        font-family: Poppins;
        font-size: 30px;
        font-weight: 800;
        line-height: 45px;
        margin: 0;
    }

    .navbar__home,
    .navbar__demos {
        display: none;
    }

    .navbar__links li a {
        margin: 8vw
    }

    .demoArea__btn3 {
        display: none;
        visibility: hidden;
        position: absolute;
        top: -100px;
        left: 0
    }

    .demoArea button {
        width: 35vw;
        height: 10vw;
        font-size: 4vw;
    }

    .chrome-img,
    .firefox-img {
        width: 7vw;
        height: 7vw;
    }

    .cta button {
        font-size: 1rem;
        margin: 10px;
    }

    .headingImageDiv {
        width: 18px;
        height: 18px;
    }

    .headingImage {
        border: solid 3px #63A0E8A6;
        height: 20px;
        width: 20px
    }

    .sheldonUsage__heading {
        font-size: 6vw;
    }

    .sheldonUsageImage{
        display: none;
    }

    .sheldonUsage__fifthRow{
        width: 89.8vw;
    }

    .knowledgeBox{
        height: 40vw;
        width:89.8vw;
        margin: auto;
        padding: 10px   ;
    }

    
    .sheldonUsage__secondRow,
    .sheldonUsage__thirdRow,
    .sheldonUsage__forthRow,
    .sheldonUsage__fifthRow{
        height:fit-content;
        width: 89.8vw;
        padding: 10px;

    }

    .before-click-vec1{
        font-size: 7vw;
    }
    
    
    .before-click-vec3,
    .before-click-vec5 {
        display: flex;
        flex-direction: column;
        color: #fff;
        align-items: center;
        justify-content: space-around;
       
    }

    .before-click-vec2,
    .before-click-vec4,
    .after-click-vec2,
    .after-click-vec4
    {
        display: flex;
        flex-direction: column-reverse;
    }

    
    .after-click-vec3,
    .after-click-vec5 {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
       
    }

    .after-click-vec1{
        font-size: 2.5vw;
    }

    .content{
        width: 80%;
        padding: 5vw 0;
    }

    .content-heading{
        font-size: 7vw;
    }
    .content-subheading{
        font-size: 5vw;
    }
    .content-body{
        padding: 5vw 0;
        font-size: 3vw;
    }

    .content-vector{
        width: 12vw;
        height: 12vw;
    }

    .usage-plus{
        position: absolute;
        top:2vw;
        right: 2vw;
        height: 7vw;
        width: 7vw;
    }

    .hide-usage {
        display: none
    }

    .giv-div{
        width: 100vw
    }

    .gif {
        width: 90vw;
        height: 50vw;
        border-radius: 10px;
    }

    .users__title {
        font-size: 6svw;
    }

    .users__review1{
        width: 80vw;
        height: 70vw;
        border-radius: 30px;
    }

    .rating{
       font-size: 8vw;
    }

    .user-review{
        font-size: 4vw;
    }

    .user-img{
        width: 20vw;
        height: 20vw;
    }

    .user-name{
        font-size: 5vw;
    }

    .user-desc{
        font-size: 4vw;
    }

    .users__review2,
    .users__review3 {
        display: none;
    }





    .favWebsites__title {
        font-size: 4.7vw;
    }

    .favwebsites__img img {
        width: 100%
    }

    .text__professionals {
        font-size: 0.75rem;
    }

    iframe {
        width: 90vw;
        height: 50vw;
    }


    .troubleshooting {
        font-size: 2.5vw;
        padding: 0 5vw;
    }

    .faq__title {
        font-size: 9vw;
    }

    .faq__subtitle {
        font-size: 3vw;
    }

    .faq__body1,
    .faq__body2,
    .faq__body3,
    .faq__body4 {
        font-size: 3vw;
    }

    .faqAns1,
    .faqAns2,
    .faqAns3,
    .faqAns4 {
        font-size: 2.5vw;
    }

    .footer {
        font-size: 2vw;
        height: 20vw;

    }




}